body{
font-family: Arial;
margin:0;
background: linear-gradient(to right, #6495ED, #ADFF2F);
}

header{
background-color:#2c3e50;
color:white;
text-align:center;
padding:20px;
}

a{
text-decoration:none;
margin:10px;
font-weight:bold;
color:white;
}

a:hover{
color:#e74c3c;
}

section{
padding:20px;
background-color:white;
margin:20px;
border-radius:8px;
box-shadow:0px 0px 5px gray;
}
.gallery{
    text-align:center;
    padding:20px;
}

.gallery h1{
    color:white;
    margin-bottom:30px;
}

.gallery-images{
    display:flex;
    justify-content:center;
    gap:20px;
}

.gallery-images img{
    width:300px;
    border-radius:10px;
    box-shadow:0 0 20px rgba(0,0,0,0.6);
    transition:0.3s;
}

.gallery-images img:hover{
    transform:scale(1.05);
}

table{
border-collapse:collapse;
background-color:white;
margin-top:15px;
margin-left:auto;  
margin-right:auto;
width:700px;
}

th{
background-color:SlateBlue;;
color:white;
padding:5px;
}

td{
padding:5px;
}

tr:nth-child(even){
 background-color: rgba(150, 212, 212, 0.4);
}

tr:nth-child(odd){
 background-color:#f2f2f2;
}


button{
background-color:#3498db;
color:white;
border:none;
padding:10px 15px;
cursor:pointer;
}

button:hover{
background-color:#2980b9;
}

footer{
background-color:#2c3e50;
color:white;
text-align:center;
padding:10px;
margin-top:20px;
}